$color-title: hsl(178, 100%, 50%);
$color-softblue: hsl(215, 51%, 70%);
$line-color: hsl(215, 32%, 27%);
$white-text: hsl(0 0% 100%);
$breakpint-mobile: 576px;

.division{
    border: 1px solid $color-softblue !important;
}
.cube-image{
    width: 100%;
    border-radius: 0.5rem;
}
#avatar{
    width: auto;
    height: 2rem;
    border: 1px solid #fff ;
    border-radius: 16px;
}
.main{
    width: 16rem;
    height: auto;
    background: hsl(216, 50%, 16%);
    margin-top: 2rem;
    border-radius: 0.7rem;
    box-shadow: 0px 15px 40px hsl(214, 51%, 8%);
    @media (max-width:$breakpint-mobile) {
        width: 90%;
    }
}
.title{
    color: $white-text;
}
.paragraph{
    color: $color-softblue;
    font-weight: 300;
    @media (max-width:$breakpint-mobile) {
        width: 90%;
        font-size: 1.15rem;
    }
}
.days-left{
    color: $color-softblue;
    font-weight: normal !important;
    display:flex;
    justify-content: flex-end;
    gap: 0.4rem;
    @media (max-width:$breakpint-mobile) {
        font-size: 1.2rem;
    }
}
#value{
    font-size: 13px;
}
.price{
    color: $color-title;
    display: flex;
    gap:0.4rem;
    @media (max-width:$breakpint-mobile) {
        font-size: 1.2rem;
    }
}
.name{
    padding-top: 4px;
    color: $color-softblue;
    span{
        color: $white-text;
    }
    font-weight: normal !important;
    @media (max-width:$breakpint-mobile) {
        font-size: 1.04rem;
    }
}
.profile{
    padding: 0.8rem;
}
