@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

body{
    height: 100vh;
    background: hsl(217, 54%, 11%) no-repeat fixed;
    font-family: 'Outfit', sans-serif;
}
